nav > ul > li { display: inline;
    margin-right: 15px;
}

nav li>a{
    text-decoration: none;
}
footer{

    margin-top: 30px;
    text-align: center;
}

h2{
    text-align: center;
    color: rgb(214, 54, 5);
}
p{
    text-align: center;
}