nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    padding: 10px;
}
nav li:hover{
    background-color: rgb(152, 153, 151);
}
nav li a{
    text-decoration: none;
    color:black;
}