.open{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0%;

}
/* Header */
.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    width: auto;
    height: 770px;
    box-shadow: 0px 6px 50px 0px rgb(31, 30, 30);

}

/* shared style */
.secondary-bg{
    background-color: #FFF8F3;
}
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;

}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    padding: 18px 35px;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}

.primary{
   
    font-weight: bold;
    padding: 16px 33px;
    font-size: 20px;
    color: rgb(24, 1, 1);
    border-radius: 5px;
    cursor: pointer;
   


}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    padding: 30px;

}
    

.section-description{
    font-size: 18px;
    color:#757575 ;
}


/* Nav Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 0px 200px;
}
nav ul{
    display: flex;
    align-items: center;
    
}


.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul li{
    list-style: none;
    margin: 50px;

}

nav ul a{
    text-decoration: none;
    font-size: 20px;
}
/* Banner style */

.Content{
    display: flex;
    justify-content: space-between;
    margin: 30px 0px 0px 200px;
    align-items: center;
   
}

.banner{
    max-width: 1200px;
    justify-content: center;
    text-align: justify;
    
}


.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 55px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;

}
.banner-p{
    font-size: 15px;
    margin-bottom: 30px;
    
}
.banner-profile{
    width: 700px;
   position: relative;
  top: 116px;
  left: 0px;
  
    
    
}

/* main */

main{
    width: 1140px;
    margin: 0 auto;
}
.About{
    border-radius: 10px;
    padding: 120px 150px;
    text-align: center;
    margin-top: 130px;
}

.about-items{
    display: flex;
    justify-content: space-around;
    margin: 30px;
    

}
.item-description{
    font-weight: 600;
    margin-top: 10px;

}
.skills{
    width: 900px;
    text-align: center;
    margin: 0 auto;
    padding-top: 200px;
    

}
.titles{
    font-weight: bold;
    font-size: large;
    padding-bottom: 20px;

    
}
.descriptions{
    font-size: 18px;
    color:#757575 ;
    padding-bottom: 50px;
}
.skills-content{
    width: 900px;
    display: flex;
    gap: 30px;
    text-align: left;
    margin-bottom: 200px;

    
}
    
.skill{
    font-size: 14px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgb(161, 161, 161);
}
.skill-title{
    padding-top: 20px;
    
}
.skill-description{
    padding-top: 20px;
    color:#757575 ;
    
}

.section-title{
    text-align: center;
    margin-bottom: 45px;
    font-weight: 600;
    font-size: 24px;


}
.resume{
    align-items: center;
    margin: 150px;
    
}


.resume-container{

    display: flex;
    gap: 30px;

}
.resume-column-title{
    font-size: 20px;
    padding-bottom: 35px;
    color: #474747;
}

.experience-title{
    padding-bottom: 10px;
    font-size: 20px;
    color: #474747;
    
}
.experence-description{
    font-size: 14px;
    color:#757575 ;
}
.experience-sub-title{
    color:#757575 ;
    padding-bottom: 10px;
    font-weight: 600;
}
hr{
    margin: 20px 10px 20px 0px;
}
.btnprimary{
    display: flex;
    margin: 70px auto;
    background-color: #FD6E0A;
    font-weight: bold;
    padding: 18px 35px;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;     
}
footer{
    padding: 100px 200px;
    display: flex;
    gap: 120px;
}
.footer-colum{
    width: 50% 
}

footer input[type="text"],footer input[type="Email"],footer textarea{
 height: 40px;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 15px;
    border: none;
}
.footer-title{
    padding-bottom: 20px;
    padding-top: 25px;
    font-size: 24px;
}
.skill-descriptio{
    padding-bottom: 10px;
    font-size: 14px;
    color: #474747;

}

.section-title{
   
   text-align: center;
   
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #fff6ef;
}

.contact {
  padding: 80px 60px;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.contact-left,
.contact-right {
  width: 50%;
}

/* Left side */
.contact-left h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.contact-left p {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
}

.social-icons a {
  color: #ff6a00;
  margin-right: 15px;
  font-size: 18px;
  text-decoration: none;
}

/* Right side */
.contact-right h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.contact-right form input,
.contact-right form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  outline: none;
  background: #fff;
}

.contact-right form textarea {
  height: 120px;
  resize: none;
}

.contact-right form button {
  background: #ff6a00;
  color: #fff;
  border: none;
  padding: 10px 25px;
  cursor: pointer;
  font-weight: bold;
}

.contact-right form button:hover {
  background: #e55d00;
}


