.open{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0%;

}
/* Header */
.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    width: auto;
    height: 770px;
    box-shadow: 0px 6px 50px 0px rgb(31, 30, 30);

}

/* shared style */
.secondary-bg{
    background-color: #FFF8F3;
}
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;

}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    padding: 18px 35px;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}

.primary{
   
    font-weight: bold;
    padding: 16px 33px;
    font-size: 20px;
    color: rgb(24, 1, 1);
    border-radius: 5px;
    cursor: pointer;
   


}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    padding: 30px;

}
    

.section-description{
    font-size: 18px;
    color:#757575 ;
}


/* Nav Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 0px 200px;
}
nav ul{
    display: flex;
    align-items: center;
    
}


.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul li{
    list-style: none;
    margin: 50px;

}

nav ul a{
    text-decoration: none;
    font-size: 20px;
}
/* Banner style */

.Content{
    display: flex;
    justify-content: space-between;
    margin: 30px 0px 0px 200px;
    align-items: center;
   
}

.banner{
    max-width: 1200px;
    justify-content: center;
    text-align: justify;
    
}


.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 55px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;

}
.banner-p{
    font-size: 15px;
    margin-bottom: 30px;
    
}
.banner-profile{
    width: 700px;
   position: relative;
  top: 116px;
  left: 0px;
  
    
    
}

/* main */

main{
    width: 1140px;
    margin: 0 auto;
}
.About{
    border-radius: 10px;
    padding: 120px 150px;
    text-align: center;
    margin-top: 130px;
}

.about-items{
    display: flex;
    justify-content: space-around;
    margin: 30px;
    

}
.item-description{
    font-weight: 600;
    margin-top: 10px;

}
.skills{
    width: 900px;
    text-align: center;
    margin: 0 auto;
    padding-top: 200px;
    

}
.titles{
    font-weight: bold;
    font-size: large;
    padding-bottom: 20px;

    
}
.descriptions{
    font-size: 18px;
    color:#757575 ;
    padding-bottom: 50px;
}
.skills-content{
    width: 900px;
    display: flex;
    gap: 30px;
    text-align: left;
    margin-bottom: 200px;

    
}
    
.skill{
    font-size: 14px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgb(161, 161, 161);
}
.skill-title{
    padding-top: 20px;
    
}
.skill-description{
    padding-top: 20px;
    color:#757575 ;
    
}